@font-face {
    font-family: 'KickerTrial-BlackItalic';
    src: url(../font/Thicker-Font-Family/KickerTrial-BlackItalic.ttf);
}

body {
   background-color: #080b10;
}

.sec-f-bg {
    background-color: #111;
    background-image: url(../images/Group\ 63.png);
    background-repeat: no-repeat;
    background-position: right;
}

.sec-logo {
    width: 80% !important;
    margin-left: 25%;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

a.nav-link.text-light.font-weight-bold {
    font-family: 'Montserrat' !important;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

ul#menu-main-menu {
    padding-left: 4%;
}

.sec-main-hading {
    font-family: 'KickerTrial-BlackItalic';
    font-style: italic;
    font-weight: 901;
    font-size: 113px;
    line-height: 80.8%;
    color: #FFFFFF;
    padding-top: 30%;
}

.sec-main {
    background-image: url(../images/Rectangle\ 2.png) !important;
    background-repeat: repeat;
    -webkit-background-clip: text;
    background-size: 120%;
    -webkit-text-fill-color: transparent;
}

.but-sec {
    background-image: url(../images/Rectangle\ 4.png) !important;
    background-repeat: no-repeat;
    padding: 20px;
    margin-top: 16%;
}

.sec-joi-but {
    font-family: 'Fugaz One';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 28px;
    padding-left: 30px;
    text-align: center;
    color: #FFFFFF;
}

.sec-joi-but:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.src-h-icon {
    margin-top: 14%;
    margin-bottom: 16%;
}

.sec-icon-but {
    background-image: url(../images/Rectangle\ 5.png) !important;
    background-repeat: no-repeat;
    padding: 10px 20px;
    font-family: 'Font Awesome 5 Brands';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #fff;
}

.sec-f-bg2 {
    background-image: url(../images/Group\ 64.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 5%;
}

.sec-img-2 {
    width: 100%;
    padding-top: 14%;
}

.sec-about {
    padding-top: 25%;
    padding-left: 10%;

}

.sec-about h2 {
    font-size: 30px;
    line-height: 28px;
    color: #C54A4C;

}

.sec-about h3 {
    font-size: 55px;
    line-height: 52px;
    color: #FFFFFF;
}

.sec-about p {

    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}

.bg-img2 {
    background-image: linear-gradient(rgb(143 35 35 / 65%), rgb(143 6 6 / 67%)),
        url(../images/image-2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.service2 {
    background-color: #111;
    background-image: url(../images/boygym.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 150px;
}

.service h2 {
    padding-top: 50px;
    color: #922828;
    font-family: 'Fugaz One';
}

.ser-bg {
    background-image: linear-gradient(rgba(22, 22, 22, 0.65), rgb(22, 22, 22, 0.65)),
        url(../images/7xm\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ser-bg2 {
    background-image: linear-gradient(rgba(22, 22, 22, 0.65), rgb(22, 22, 22, 0.65)),
        url(../images/Rectangle\ 20.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.ser-bg3 {
    background-image: linear-gradient(rgba(22, 22, 22, 0.65), rgb(22, 22, 22, 0.65)),
        url(../images/Rectangle\ 20\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-c button {
    background-color: #922828;
}

.sec-hr {
    height: 2px;
}

.bean-bg {
    background-image: linear-gradient(rgb(143 35 35 / 65%), rgb(143 6 6 / 67%)),
        url(../images/image\ 3.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bran-bg2 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.822), rgb(255, 255, 255, 0.822)),
        url(../images/Rectangle\ 13.png);
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 15px solid #000000;
    border-width: 15px 0px 0px 0px;
}

.bran-bg3 {
    background-image: linear-gradient(rgba(255, 255, 255, 0.822), rgb(255, 255, 255, 0.822)),
        url(../images/Rectangle\ 13.png);
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
    border: 15px solid #000000;
    border-width: 15px 0px 0px 0px;
}

.sec-hed-col {
    color: #000000 !important;

}

.but-sec2 {
    background-image: url(../images/Group\ 4.png) !important;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 40px;
}

.but-sec2 button {
    background-color: transparent !important;
    padding: 2px !important;
}

.sec-bran-p {
    color: #000000;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
}

.sec-in-p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
}

#interest2 {
    display: block;
}

.intclass2 h3 {
    padding-top: 147px !important;
}

/* Interest-start-mobile************* */
#interest1 {
    display: none;
}

.inter-bg {
    background-image: url(../images/bg63.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.intclass h3 {
    padding-top: 60px !important;
}

.sec-margen {
    color: #922828;
}

.sec-margen i {
    color: #922828;
}

.sec-margen p {
    color: #000000;
}

/* Interest-end-mobile*************  */

.fo-bg {
    background-color: #111;
}

.foot hr {
    width: 30%;
    height: 4px;
    margin-left: 0;
    background-color: #922828;
    opacity: 10;
}

.ft-icon {
    color: #922828;
}

.sec-font {
    font-family: 'Montserrat';


}


/* whatsapp */
a{
    text-decoration:none !important;
  }
  .floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    z-index: 1000;
  }
  
  @keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  .contact_icon {
    background-color: #42db87;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size:30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
  }
  
  
  .text_icon {
    margin-top: 8px;
    color: #707070;
    font-size: 13px;
  }










@media (max-width: 767px) {
    a.navbar-brand {
        width: 70%;
    }
    .sec-hed-col {
        color: #000000 !important;
        font-size: 20px;
        
    }
    .sec-main-hading {
        font-size: 60px;
    }

    .sec-logo {
        margin-left: 0%;
    }

    .inter-bg {
        background-image: url(../images/bg62.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    #interest1 {
        display: block;
    }

    #interest2 {
        display: none;
    }

    .sec-about h3 {
        font-size: 35px;
        line-height: 42px;
        color: #FFFFFF;
    }

    .sec-about h2 {
        color: #fff;
    }
}


/* ---------------------------About-Us----------------------- */

.sec-about-bg{
    background-image: url(../images/gym3_pic17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
}
.sec-about-hed{
    padding: 100px 70px;
}
.let-bg{
    background-image: url(../images/Rectangle-bg.png);
   background-repeat: no-repeat;
   background-size: cover;

}
.story-bg{
    background-image: url(../images/about-bg3.png);
   background-repeat: no-repeat;
   background-size: cover;
   border-bottom: 5px solid #922828;
}
.story h1{
    color: #922828;
}
.story-bg2{
    background-image: url(../images/BG-STRIP.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.culture-bg{
    background-color: #DEBFBF;
}


@media (max-width: 768px) {
    .story-bg{
        background-image: none;
    }
   .sec-abou-h{
    font-size: 20px;
   }
   .sec-abou-h1{
    font-size: 12px;
   }
}
/* -------------------------------findgym-page------------------------------ */

.ab-bran-bg2{
    background-image: linear-gradient(rgba(15, 15, 15, 0.822), rgb(15, 15, 15, 0.822)),
    url(../image/b-img.png);
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
}
.ab-bran-bg3{
    background-image: linear-gradient(rgba(15, 15, 15, 0.822), rgb(15, 15, 15, 0.822)),
    url(../image/b-img.png);
    width: 70%;
    background-size: cover;
    background-repeat: no-repeat;
}


/* ----------------------------------blog-page---------------------------------------- */

.sec-image-hr {
    background-color: #000000;
    width: 70%;
}

/* -------------------------------gallery-page---------------------------- */

/* ------------------------gallery-page--------------- */


.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row>div {
    padding: 2px;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;

}


.tz-gallery .lightbox:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(2, 2, 2, 0.7);
    content: '';
    transition: 0.4s;
}

.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
    opacity: 1;
}

/* ---------------------------------contact-page---------------------------- */

.icon {
    padding-top: 20px;
    font-size: 40px;
}
.con-bg{
    margin-top: -40px;
}
.hr1 {
    width: 85px;
    border-top: 4px solid #333333;
}
.sec-form{
    width: 80%;
}
.btn{
    background-color: #922828;
}
@media (max-width: 768px) {
    .con-bg{
        margin-top: 50px;
    }
    
}